<% provide(:title, "Главная") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

  <div class="center jumbotron">
    <h1>Главная</h1>

    <h2>
      Это домашняя страница примера приложения по учебнику
      <a href="http://www.railstutorial.org/">Ruby on Rails </a>
      .
    </h2>

    <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Логотип Rails"),
              'http://rubyonrails.org/' %>
<% end %>
